@import '../../main';

.pokemon-card{
    border-radius: 2px;
    border: 4px solid lightgrey;
    margin: 2rem;
}

.pokemon-card img{
    height: 20rem;
    background-color: white;
}

.card-content{
    display: flex;
    flex-direction: column;
    @extend %flex-all-center;
    padding: 2rem;
}

.pokemon-information-container{
    display: flex;
    flex-direction: column;
    @extend %flex-all-center;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 0;
    color: black;;
    background-color: lightgray;
}