
@import '../../main';

.browse-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    background-color: red;
}

.browse-container {
    display: flex;
    flex-direction: column;
    @extend %flex-all-center;
    padding-top: 2rem;
    width: 100%;
}

.browse-container button{
    margin: 0 2rem;
}

.button-label {
    text-decoration: none;
    color: white;
}